.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.hidden, input[type=button].hidden { display: none; }
img { width: 85px; }
.error { color: red; }
.success { color: green; }

body { font-family: 'Source Sans Pro', sans-serif; }

hr {
	margin-top: 0;
	margin-bottom: 0;
	border-top: solid 1px black;
}

#header {
	display: block;
}

#header .branding #logo {
	width: 50px;
	margin-right: 10px;
}

#header .branding h1 {
	display: inline;
	font-weight: 700;
	font-size: 2em;
	vertical-align: 12px;
}

#header .branding a {
	text-decoration: none;
	color: #222;
}

#header .profile {
	text-align: right;
}

.game_phase { 
	margin-top: 25px; 
}

.game_phase .message {
	text-align: center;
}

.game_id_label, .game_id_text {
	font-weight: bold;
}

#morning #new_game, #morning #join_game {
	text-align: center;
}

#afternoon .message #invite_game_id {
	font-weight: bold;
}

#evening input[type=button].disabled, #night input[type=button].disabled {
	cursor: not-allowed;
	background-color: #EEE;
}

#evening input[type=button].disabled:hover, #night input[type=button].disabled:hover {
	color: #555;
	border-color: #BBB;
}

/* #action_message { font-weight: bold; } */

#game_log_wrapper { 
	overflow: auto; 
	border: solid 1px black;
	background: #EEE;
}

#game_log_header { font-weight: bold; }

.ui-selectee { border: dotted 2px orange; }
.ui-selectable-disabled .ui-selectee { border: none; }
.ui-selected { border: solid 2px orange; }